
/* body */

body {
	margin-top: 20px;
	padding: 0;
	background: #F8ECA9 url('../resources/images/gif/D-Star Background.gif');
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
}

h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: Arial, "Times New Roman", Times;
	font-weight: normal;
	color: black;
}

h2 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: Arial, "Times New Roman", Times;
	font-weight: normal;
	color: black;
}

h1 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: Arial, "Times New Roman", Times;
	font-weight: normal;
	color: black;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
	}

h2 {
	font-size: 23px;
}

ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}

ul {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}

p {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}

a:link {
	color: #000000;
}

a:active {
	text-decoration: none;
	color: #AB5B00;
}

a:hover {
	text-decoration: none;
	color: #AB5B00;
}

a:visited {
	color: #AB5B00;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 15px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 15px;
}


/* Header */

#header {
	width: 816px;
	height: 108px;
	background: url('../images2nd/img02a.jpg') no-repeat left top;
	margin: 0 auto;
	padding: 0;
}

#logo {
	float: left;
	margin-left: 30px;
	padding-top: 50px;
}

#logo h2 {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0;
	padding: 0;
}

#logo h1 {
	font-size: 36px;
	color: black;
}

#logo h1 a {
	color: #ffffff;
}

#logo h2 {
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
}

#logo a {
	text-decoration: none;
	color: black;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 73px 30px 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 110px;
	height: 30px;
	margin-left: 5px;
	padding-top: 5px;
	background: url('../images2nd/img07.jpg') no-repeat;
	text-decoration: none;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: black;
}

#menu a:hover {
	background: url('../images2nd/img06.jpg') no-repeat;
	text-decoration: underline;
}


/* Page */

#page {
	width: 816px;
	margin: 0 AUTO;
	background: url('../images2nd/img04.jpg') repeat-y left top;
}

#page .bgtop {
	background: url('../images2nd/img03.jpg') no-repeat left top;
}

/* Content */

#content {
	float: right;
	width: 510px;
	padding: 30px 30px 0px 0px;
}


/* Footer */


#footer {
	width: 816px;
	height: 80px;
	min-height: 65px;
	background: url('../images2nd/img05.jpg') no-repeat left top;
	margin: 0 auto;
	padding: 15px 0 0 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

html>body #footer {
	height: auto;
}

#legal {
	clear: both;
	padding-top: 20px;
	padding-right: 30px;
	text-align: right;
	font-size: 10px;
	color: #000000;
}

#legal a {
	font-weight: bold;
	color: #000000;
}


