@import url("layout.css");

body

#container-2 {
	width: 620px;
	margin: 0 auto;
	padding: 10px;
	border-right: 2px solid #725972;
	border-bottom: 2px solid #725972;
	border-left: 2px solid #725972;
	background-color: #ffffff;
}

#content-2 {
	background: #FFFFFF;
	float: left;
	width: 470px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#footer-2 {
	text-align: ;
	clear: both;
	width: 618px;
	

}
